@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  position: relative;
  overflow: hidden;
}

.cartBtn {
  position: absolute;
  left: 20px;
  top: 437px;
  transition: all 0.3s linear;
}

.card:hover .cartBtn {
  left: 20px;
  top: 374px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

#cartBtn {
  border: none;
  background-color: #fff;
  color: #f6d860;
}
